@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Paleta oscura basada en morados */
    --morado-oscuro: #2C003E;
    /* Morado oscuro profundo */
    --purpura: rgba(70, 32, 120, 0.3);;
    /* Púrpura intenso */
    --lila-oscuro: #6A0DAD;
    /* Lila oscuro */
    --lavanda-oscuro: #7B1FA2;
    /* Lavanda oscuro */
    --violeta-gris: #9C27B0;
    /* Violeta grisáceo */
    --gris-lila: #B39DDB;
    /* Gris lila */
    --rosa-morado: #CE93D8;
    /* Rosa morado */
    --blanco-humo: #EDE7F6;
    /* Blanco humo */
    --bg-color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(44,0,62,1) 35%, rgba(2,0,36,1) 100%);
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background: var(--bg-color);
    color: var(--blanco-humo);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    display: flex;
    flex-direction: column;
    height: 100%;

}

#page {
    display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "head nav"
        "main main"
        "footer footer";
}

header {
    grid-area: head;
    background: var(--purpura);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;   
    
    animation-name: barra-top;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
header img{
    width: 25%;
}
nav {
    grid-area: nav;
    background: var(--purpura);
    padding-top: 1rem;

    animation-name: barra-top;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

main {
    grid-area: main;
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    grid-area: footer;
    background: var(--purpura);
}

h2 {
    text-align: center;
    margin-top: 1rem;
}

.logo-span{
    animation-name: winter;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 5px;
    padding-right: 12px;
}

.links i{
    font-size: 12px;
}
.links a {
    text-decoration: none;
    color: var(--blanco-humo);
}
.links a:hover {
    font-weight: 800;
}

.underline {
    position: relative;
}

.underline::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: var(--violeta-gris);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform .5s ease;
}

.underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.container {
    margin: 1em;
    max-width: 350px;

}

.cover-container {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
    margin: 1rem 0;
    border: 1px solid var(--violeta-gris);
}

.cover-container img {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
    object-fit: cover;
}

.cover-container .cover-description {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    /* background: url('../imgs/cover02.png'); */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: left 0.5s ease;
}

.cover-description h4 {
    margin-bottom: 12px;
}

.cover-description p {
    text-align: center;
    margin: 4px 12px;
}

.cover-description button {
    cursor: pointer;
    margin: 16px;
    padding: 1rem;
    background-color: transparent;
    border:1px solid var(--gris-lila);
    color: var(--blanco-humo);
}
.cover-description button:hover {
    font-weight: 800;
    background-color: var(--violeta-gris);
    border:1px solid var(--lavanda-oscuro);
    color: var(--blanco-humo);
}


.cover-container:hover img {
    transform: translateX(-100%);
}

.cover-container:hover .cover-description {
    left: 0;
}
.rss{
    text-align: center;
    font-size: 10px;
    margin: 8px;
}
.rss a{
    color: var(--blanco-humo);
    padding: 2px;
}
.rss a:hover{
    color: var(--rosa-morado);
}
#logo-texto-min {
    display: none;
}

#biografia {
    margin: 1em;
    max-width: 350px;
}
#biografia p{
    text-align: justify;
    margin: 1em;

}
#biografia img{
    max-width: 150px;
    border-radius: 50%;
    animation-name: bio;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.bio-img{
    display: flex;
    justify-content: center;
    margin: 2rem;
}
.nightmares {
    animation-name: nightmares;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#conciertos {
    margin: 1em;
    max-width: 350px;
}
#conciertos p{
    text-align: justify;
    margin: 1em;
}

#contacto {
    margin: 1em 0 2em 0;
    max-width: 350px;
}
.contacto-container{
    display: flex;
    flex-direction: column;
    padding: 1em 0 1em 0;
}
input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: transparent;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid violet;
    border-radius: 4px;
    cursor: pointer;
    transition: all .2s;
  }
  
  input[type=submit]:hover {
    background-color: var(--violeta-gris)
  }
  
/* Tablet */
@media (min-width: 575px) {
    #page {
        display: grid;
        grid-template-columns: 200px 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "header header"
            "nav main"
            "footer footer";
        min-height: 100vh;
    }
    nav {
        justify-content: flex-start;
    }
    header img{
        width: 40%;
    }
    main {
        justify-content: flex-start;
        padding-top: 20px;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 1200px;
    }

    .cover-container {
        flex-basis: calc(40%);
        object-fit: cover;
        height: auto;
    }

    .cover-container img {
        object-fit: cover;
    }

    .cover-description p {
        text-align: center;
        margin: 1px 6px;
        font-size: .8em;
    }

    .links {
        margin-top: 24px;
    }

    .links {
        display: flex;
        gap: 1.5em;
    }

    .links a {
        text-decoration: none;
        color: var(--md-sys-color-on-primary);
    }

    .links a:hover {
        text-decoration: underline;
        color: var(--md-sys-color-on-primary);
    }

    #logo-texto-max {
        display: none;
    }

    #logo-texto-min {
        display: block;
    }
    #biografia {
        max-width: 768px;
    }
    .bio {
        margin: 0 1.5rem;
    }
    #conciertos, #contacto {
        max-width: 768px;
        width: 80%;
    }
    
}

/* Desktop */
@media (min-width: 992px) {
    #page {
        grid-template-columns: 150px 4fr;
        grid-template-areas:
            "head main"
            "nav main"
            "nav footer";
    }
    header img{
        width: 40%;
    }
    main {
        justify-content: flex-start;
        padding-top: 20px;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 1200px;
    }

    .cover-container {
        flex-basis: calc(23%);
        object-fit: cover;
        height: auto;
    }

    .cover-container img {
        object-fit: cover;

    }

    .links {
        margin-top: 24px;
    }

    #logo-texto-max {
        display: none;
    }

    #logo-texto-min {
        display: block;
    }
    #biografia {
        max-width: 1200px;
    }
    #biografia img{
        max-width: 160px;
    }
    .bio{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    #conciertos, #contacto {
        max-width: 1200px;
        width: 80%;
    }

}

@keyframes winter {
    from { 
        color: var(--blanco-humo);
        transform: translateY(0); 
    }
    to { 
        color: var(--gris-lila);
        transform: translateY(-5px); 
    }
    
}
@keyframes nightmares {
    0% {
        color: var(--violeta-gris);

    }
    50% {
        color: var(--gris-lila);
    }
    100% {
        color: var(--rosa-morado);
    }

}

@keyframes bio {
    from{
        box-shadow: 0px 0px 40px 10px var(--gris-lila);

    }
    to{
        box-shadow: 0px 0px 40px 0px var(--violeta-gris);

    }
}

